@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="appointmentReminderApp" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Appointment Reminder</title>

    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/angular-local-storage.js"></script>
    <script src="~/Scripts/angular-local-storage.min.js"></script>


    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/PhoneFormat.js"></script>

    <script src="~/App/AppointmentReminderApp.js"></script>


    @*-- Controllers*@
    @*----Auth*@
    <script src="~/App/AuthForm/authRegisterController.js"></script>
    <script src="~/App/AuthForm/authLoginController.js"></script>
    <script src="~/App/AuthForm/authLogoutController.js"></script>
    @*----Profile*@
    <script src="~/App/ProfileForm/profileController.js"></script>
    <script src="~/App/ProfileForm/profileService.js"></script>
    @*----Contact*@
    <script src="~/App/ContactForm/contactController.js"></script>
    <script src="~/App/ContactForm/contactService.js"></script>
    @*----Reminder*@
    <script src="~/App/ReminderForm/reminderController.js"></script>
    <script src="~/App/ReminderForm/reminderService.js"></script>
    @*----Home*@
    <script src="~/App/AuthForm/indexController.js"></script>
    <script src="~/App/HomeController.js"></script>

    @*-- Services*@
    <script src="~/App/AuthForm/authInterceptorService.js"></script>
    <script src="~/App/AuthForm/authService.js"></script>



    <base href="/" />

</head>
<body class="container">

    <div class="navbar navbar-inverse navbar-fixed-top" 
         role="navigation" 
         data-ng-controller="indexController">
        <div class="container-fluid">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" 
                        data-ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand" href="/home">Home</a>
                <a class="navbar-brand" data-ng-show="authentication.isAuth" href="/Profile">Profile</a>
                <a class="navbar-brand" data-ng-show="authentication.profileExists" href="/Contacts">Contacts</a>
                <a class="navbar-brand" data-ng-show="authentication.contactExists" href="/Reminders">Reminders</a>
            </div>
            <div class="collapse navbar-collapse dropdown-toggle"
                 data-collapse="!navbarExpanded"
                 data-toggle="dropdown"
                 data-ng-click="navbarExpanded = !navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a href="/">Welcome {{authentication.userName}}</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logoutUser()">Logout</a></li>
                    <li class="" data-ng-hide="authentication.isAuth"> <a href="/Login"> Login</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="/Register">Register</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div data-ng-view="">
        </div>
    </div>
</body>
</html>
