<form class="form-horizontal" role="form" name="reminderUpdateForm">

    <div class="form-group" />
        <label class="col-sm-3 control-label" for="ContactName">Contact Name</label>
        <div class="col-sm-3">
            <select class="form-control"
                    name="Contact"
                    required
                    data-ng-model="selectedContact"
                    data-ng-options="contact.name for contact in remindercontacts">
                <option></option>
            </select>
        </div>
    </div>

        <div class="form-group" />
            <label class="col-sm-3 control-label" for="Recurrence">Recurrence</label>
            <div class="col-sm-3">
                <select id="ddlRecurrence" class="form-control"
                        data-ng-model="selectedRecurrence"
                        required
                        name="Recurrence"
                        ng-change="reminderRecurrenceTimeChanged()"
                        data-ng-options="recurrence.idrecur for recurrence in recurrences">
                    <option></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div data-ng-show="calendarshow">
                <label class="col-sm-3 control-label" for="Recurrence">Date</label>
                <div class="col-sm-4">
                    <p class="input-group">
                        <input type="text" required class="form-control" datepicker-popup="{{format}}" data-ng-model="ReminderDate" is-open="opened" min-date="minDate" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </div>


        <div class="form-group">
            <div data-ng-show="weekdayshow">
                <label class="col-sm-3 control-label" for="Recurrence">Week Day</label>
                <div class="col-sm-3">
                    <select id="ddlWeekday" class="form-control"
                            required
                            name="Weekday"
                            data-ng-model="selectedWeekday"
                            data-ng-options="weekday.idweek for weekday in weekdays">
                        <option></option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="Recurrence">Time</label>

            <div class="col-sm-9">
                <timepicker data-ng-model="ReminderTime" ng-change="reminderTimeChanged()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
                <input type="text" data-ng-model="ReminderTime | date:'shortTime'" ng-required="true" />
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Email Subject</label>
            <div class="col-sm-9">
                <textarea placeholder="Enter Email Subject" name="EmailSubject" data-ng-model="reminder.EmailSubject" required class="form-control"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Message</label>
            <div class="col-sm-9">
                <textarea required placeholder="Enter Message" name="Message" data-ng-model="reminder.Message" class="form-control input-group-lg"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">Image</label>
            <div class="col-sm-9">
                <textarea placeholder="Enter Image" ng-model="reminder.Image" class="form-control input-group-lg"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="TimeZone">Reminder Sent</label>
            <div class="col-sm-9">
                <input type="checkbox" data-ng-model="reminder.Sent" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
                <input type="submit" class="btn btn-primary" value="Submit" data-ng-click="submitForm()" />  <!--ng-disabled="reminderUpdateForm.$invalid" />-->
            </div>
        </div>
</form>



