<form class="form-horizontal" role="form">



    <div>

        <div class="form-group">
            <label class="col-sm-3 control-label" for="userName">Email Address</label>
            <div class="col-sm-9">
                <input type="text" data-ng-model="loginData.userName" id="userName" name="userName" class="form-control" />
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-3 control-label" for="Password">Password</label>
            <div class="col-sm-9">
                <input type="password" data-ng-model="loginData.Password" id="Password" name="Password" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
                <input type="submit" class="btn btn-primary" value="Login" data-ng-click="loginForm()" />
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label"></label>
            <div class="col-sm-9">
                <input type="submit" class="btn btn-primary" value="Reset Password" data-ng-click="resetPassword()" />
            </div>

            <div data-ng-show="loadinglogin == true">
                <div class="col-sm-9"><progressbar class="progress-striped active" max="200" value="200" type="warning"><i>in process... please wait..</i></progressbar></div>
            </div>

        </div>


        <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
            {{message}}
        </div>
    </div>

</form>
