<form class="form-horizontal" role="form" name="registerUpdateForm">
    
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-info' : 'alert alert-danger'">
        {{message}}
    </div>

    <div class="error"
         ng-show="registerUpdateForm.Password.$invalid&& registerUpdateForm.Password.$dirty">
        <span ng-show="registerUpdateForm.Password.$error">

            <div class="alert alert-warning">
                Warning! Password must have - at least 6 characters - at least one non letter or digit character - at least one digit ('0'-'9') - at least one uppercase ('A'-'Z')
            </div>
        </span>
    </div>

    <div ng-show="registerUpdateForm.ConfirmPassword.$error.passwordVerify">
       
        <div class="alert alert-warning">
            Passwords are not equal!
        </div>
    </div>

    <div class="error"
         ng-show="registerUpdateForm.Email.$invalid&& registerUpdateForm.Email.$dirty">
        <span ng-show="registerUpdateForm.Email.$error">

            <div class="alert alert-warning">
                Warning! Please enter valid email address
            </div>
        </span>
    </div>

    <div class="form-group" ng-class="{ 'has-error': registerUpdateForm.Email.$invalid }">
        <label class="col-sm-3 control-label" for="Email">Email Address</label>
        <div class="col-sm-9">
            <input required type="email" data-ng-model="auth.Email"
                   data-ng-pattern="/^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                   id="email" name="Email" class="form-control" />  <!--ng-pattern="matchPattern"/>-->
        </div>

    </div>

    <!--//Password Pattern
    //at least 6 characters long.
    //Must have at least one non letter or digit character.
    //Must have at least one digit ('0'-'9').
    //Must have at least one uppercase ('A'-'Z').-->

    <div class="form-group" ng-class="{ 'has-error': registerUpdateForm.Password.$invalid }">
        <label class="col-sm-3 control-label" for="Password">Password</label>
        <div class="col-sm-9">
            <input required type="password" data-ng-model="auth.Password"
                   data-ng-pattern="/^(?=.*[^a-zA-Z\d])(?=.*\d)(?=.*[A-Z]).{6,}$/"
                   id=" password" name="Password" class="form-control" />  <!--ng-pattern="matchPattern"/>-->
        </div>

    </div>

    <div class="form-group" ng-class="{ 'has-error': registerUpdateForm.ConfirmPassword.$invalid }">
        <label class="col-sm-3 control-label" for="ConfirmPassword">Confirm Password</label>
        <div class="col-sm-9">
            <input required type="password" data-ng-model="auth.ConfirmPassword"
                   id="ConfirmPassword" name="ConfirmPassword"
                   data-ng-pattern="/^(?=.*[^a-zA-Z\d])(?=.*\d)(?=.*[A-Z]).{6,}$/"
                   data-password-verify="auth.Password"
                   class="form-control" /> <!--ng-pattern="matchPattern" />-->
        </div>

    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
            <input type="submit" class="btn btn-primary" value="Register" data-ng-click="registerForm()" ng-disabled="registerUpdateForm.$invalid" />
            <div data-ng-show="loadingRegister == true">
                <div class="spinner">
                    Loading...
                </div>
            </div>
        </div>
    </div>


</form>
