<form class="form-horizontal" role="form" name="resetPasswordForm">
        <div>

            <div class="error"
                 ng-show="resetPasswordForm.Password.$invalid&& resetPasswordForm.Password.$dirty">
                <span ng-show="resetPasswordForm.Password.$error">

                    <div class="alert alert-warning">
                        Warning! Password must have - at least 6 characters - at least one non letter or digit character - at least one digit ('0'-'9') - at least one uppercase ('A'-'Z')
                    </div>
                </span>
            </div>

            <div ng-show="resetPasswordForm.ConfirmPassword.$error.passwordVerify">

                <div class="alert alert-warning">
                    Passwords are not equal!
                </div>
            </div>

            <div class="error"
                 ng-show="resetPasswordForm.Email.$invalid&& resetPasswordForm.Email.$dirty">
                <span ng-show="resetPasswordForm.Email.$error">

                    <div class="alert alert-warning">
                        Warning! Please enter valid email address
                    </div>
                </span>
            </div>

            <div class="form-group" ng-class="{ 'has-error': resetPasswordForm.Email.$invalid }">
                <label class="col-sm-3 control-label" for="Email">Email Address</label>
                <div class="col-sm-9">
                    <input required type="email" data-ng-model="passwordResetData.Email"
                           data-ng-pattern="/^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                           id="email" name="Email" class="form-control" />  <!--ng-pattern="matchPattern"/>-->
                </div>

            </div>

            <!--//Password Pattern
    //at least 6 characters long.
    //Must have at least one non letter or digit character.
    //Must have at least one digit ('0'-'9').
    //Must have at least one uppercase ('A'-'Z').-->

            <div class="form-group" ng-class="{ 'has-error': resetPasswordForm.Password.$invalid }">
                <label class="col-sm-3 control-label" for="Password">Password</label>
                <div class="col-sm-9">
                    <input required type="password" data-ng-model="passwordResetData.Password"
                           data-ng-pattern="/^(?=.*[^a-zA-Z\d])(?=.*\d)(?=.*[A-Z]).{6,}$/"
                           id=" password" name="Password" class="form-control" />  <!--ng-pattern="matchPattern"/>-->
                </div>

            </div>

            <div class="form-group" ng-class="{ 'has-error': resetPasswordForm.ConfirmPassword.$invalid }">
                <label class="col-sm-3 control-label" for="ConfirmPassword">Confirm Password</label>
                <div class="col-sm-9">
                    <input required type="password" data-ng-model="passwordResetData.ConfirmPassword"
                           id="ConfirmPassword" name="ConfirmPassword"
                           data-ng-pattern="/^(?=.*[^a-zA-Z\d])(?=.*\d)(?=.*[A-Z]).{6,}$/"
                           data-password-verify="passwordResetData.Password"
                           class="form-control" /> <!--ng-pattern="matchPattern" />-->
                </div>

            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <input type="submit" class="btn btn-primary" value="Reset Password" data-ng-click="resetPassword()" />
                        <div class="spinner" data-ng-hide="resetDone == true">
                            Resetting...
                        </div>
                </div>

            </div>

            <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
                {{message}}
            </div>
        </div>
    </form>
