<form class="form-horizontal" role="form" >
	
	
    <div data-ng-show="profileShow == false">
        <div class="spinner">
            Loading...
        </div>
    </div>
    
    <div data-ng-show="error">
        <div class="alert alert-danger">
            <strong>Error!   </strong> {{error}}
        </div>
    </div>

    <div data-ng-show="profileShow == true" data-ng-hide="error">
        <h3>Profile..</h3>



        <div class="form-group" data-ng-show="profile == null" >
            <br /><br /><br />
            <div>
                <input type="submit" class="btn btn-primary" value="Create New" data-ng-click="showCreateProfileForm()" />
            </div>
        </div>
        <div data-ng-show="profile != null">

            <div class="control-group">
                <label class="control-label">First Name</label>
                <div class="controls readonly">
                    {{profile.FirstName}}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Last Name</label>
                <div class="controls readonly">
                    {{profile.LastName}}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Cell. Phone Number:</label>
                <div class="controls readonly">
                    {{profile.PhoneNumber}}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Email Address:</label>
                <div class="controls readonly">
                   {{profile.EmailAddress}}
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Active:</label>
                <div class="controls readonly">
                    {{profile.DeActivate == true? "No" : "Yes"}}
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <input type="submit" class="btn btn-primary" value="Edit" data-ng-click="showUpdateProfileForm(profile.Id)" />
                </div>
            </div>
        </div>
    </div>
</form>

