
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
Your password has been reset correctly. 



<br /><br /><br />

<a  href="~/Home" class="btn-group-lg">Click to Login again with your new password.</a>


